<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>RichardMills.ca</title>
  <meta name="My personal website." content="">
  <meta name="Richard Mills" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/style.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">

    <header class="text-center">
        <img src="/images/profile.jpg" />
        <h1>Richard <strong>Mills</strong></h1>
        <h5>Computer Science Student</h5>
    </header>

    <nav id="nav">
        <div class="container">
            <ul class="nav-list">
                <li class="nav-item"><a href="/#nav" class="nav-link">About</a></li>
                <li class="nav-item"><a href="/projects#nav" class="nav-link">Projects</a></li>
                <li class="nav-item"><a href="/resume#nav" class="nav-link">Resume</a></li>
            </ul>
        </div>
    </nav>
    <div class="content">
        <h2>{{ title }}</h2>
        {{ content }}
    </div>

  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
